/*!*-----------@mediaqueries-------------*!*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    #head {
        padding-bottom: 100px;
    }
    .titles {
        padding-top: 20px;
        margin-bottom: 22px;
    }
    .videoTitle {
        font-size: 40px;
    }
    .tryNow {
        text-align: center;
        margin-top: 100px;
    }
    #new {
        padding: 81px 0 66px;
    }
    .nameOfTopic {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .topicLink {
        font-size: 20px;
    }
    .ellipsis {
        font-size: 20px;
    }
    .firstArticle {
        padding-top: 15px;
    }
    .articles {
        font-size: 12px;
    }
    .secondArticle {
        padding-top: 10px;
    }
    .triangleRight {
        display: none;
    }
    .triangleRightPhone {
        display: inline-block;
        width: 100px;
        right: -195px;
        transform: skew(-40deg);

    }
    #features {
        padding: 70px 0 85px;
        background: none;
    }
    .titleOfTopic {
        font-size: 24px;
    }
    .advantagesItem {
        padding-top: 46px;
    }

    .triangleTopRight {
        width: 90px;
        transform: skew(43deg);
        right: -290px;
    }
}
@media only screen
and (min-device-width : 569px)
and (max-device-width : 767px) {
    #head {
        padding-bottom: 100px;
    }
    .titles {
        padding-top: 20px;
        margin-bottom: 22px;
    }
    .videoTitle {
        font-size: 40px;
    }
    .tryNow {
        text-align: center;
        margin-top: 100px;
    }
    #new {
        padding: 81px 0 66px;
    }
    .newDesign {
        margin-left: 35px;
    }
    .nameOfTopic {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .topicLink {
        font-size: 20px;
    }
    .ellipsis {
        font-size: 20px;
    }
    .firstArticle {
        padding-top: 15px;
    }
    .articles {
        font-size: 12px;
    }
    .secondArticle {
        padding-top: 10px;
    }
    .triangleRight {
        display: none;
    }
    .triangleRightPhone {
        display: inline-block;
        width: 100px;
        right: -170px;
        transform: skew(-40deg);
    }
    #features {
        padding: 150px 0 130px;
        background: url(image/features/features1.jpg) left 0 top 0 no-repeat, url(image/features/features2.jpg) right 0 top 0 no-repeat,url(image/features/features3.jpg) right 0 bottom 0 no-repeat;
    }
    .titleOfTopic {
        font-size: 24px;
    }
    .advantagesItem {
        padding-top: 46px;
    }

    .triangleTopRight {
        width: 100px;
        transform: skew(40deg);
        right: -253px;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width: 991px) {
    #head {
        padding-bottom: 100px;
    }
    .titles {
        padding-top: 20px;
        margin-bottom: 22px;
    }
    .videoTitle {
        font-size: 40px;
    }
    .tryNow {
        text-align: center;
        margin-top: 100px;
    }
    #new {
        padding: 81px 0 66px;
    }
    .nameOfTopic {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .topicLink {
        font-size: 20px;
    }
    .ellipsis {
        font-size: 20px;
    }
    .firstArticle {
        padding-top: 15px;
    }
    .articles {
        font-size: 12px;
    }
    .secondArticle {
        padding-top: 10px;
    }
    .triangleRight {
        display: none;
    }
    .triangleRightPhone {
        display: inline-block;
        right: -441px;
        width: 400px;
        transform: skew(-45deg);
    }
    #features {
        padding: 150px 0 130px;
        background: url(image/features/features1.jpg) left 0 top 0 no-repeat, url(image/features/features2.jpg) right 0 top 0 no-repeat,url(image/features/features3.jpg) right 0 bottom 0 no-repeat;
    }
    .titleOfTopic {
        font-size: 24px;
    }
    .advantagesItem {
        padding-top: 46px;
    }
    .triangleTopRight {
        width: 140px;
        right: -220px;
    }
}
@media only screen
and (min-device-width : 992px)
and (max-device-width: 1023px) {
    .triangleRight {
        border-width: 355px 0 425px 437px;
    }
    #features {
        background: url(image/features/features1.jpg) left 20px top 0 no-repeat, url(image/features/features2.jpg) right 20px top 0 no-repeat,url(image/features/features3.jpg) right 0 bottom 0 no-repeat;
    }
    .triangleTopRight {
        width: 150px;
        right: -160px;
    }
}
@media only screen
and (min-device-width: 1024px)
and (max-device-width : 1300px){

    .triangleTopRight {
        width: 150px;
    }

}